{% set menus = menu_service.findAll %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue sur mon blog! - {% block title %}{% endblock %}</title>

        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>



    <body class="bg-secondary bg-opacity-25" style="height: auto">

        <nav class="" style="height: 75px">
            <div class="container-fluid d-flex flex-wrap h-100 bg-primary align-items-center">
                
                    <div class="dropdown">
                        <a class="nav nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mon blog
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminDashboard">
                            <li><a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord</a></li>
                            <li><a class="dropdown-item" href="{{ ea_index('MenuCrudController') }}">Menus</a></li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <a class="nav nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ajouter
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminAdd">
                            <li><a class="dropdown-item" href="#">Articles</a></li>
                            <li><a class="dropdown-item" href="#">Pages</a></li>
                        </ul>
                    </div>

            </div>
        </nav>


        <div class="">
            <header class="container-fluid d-flex align-items-center justify-content-center" style="height: 75px">
            
                <a class="d-flex align-items-center justify-content-center mb-3 mb-md-0 col-6 text-dark text-decoration-none" href="{{ path('app_home') }}">
                    <span class="fs-4 d-flex align-items-center justify-content-center">
                        Mon blog
                    </span>
                </a>

                <ul class="nav nav-pills align-items-center justify-content-center">

                {% for menu in menus %}                  {# on affiche les menus tuto et mon article #}
                    {% if menu.subMenus.count > 0 %}

                        <div class="dropdown">
                            <a class="nav nav-link text-dark dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ menu.name }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for subMenu in menu.subMenus %}
                                    <li><a class="dropdown-item" href="{{ subMenu|menuLink }}"> {{ subMenu.name }} </a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ menu|menuLink }}">{{ menu.name }}</a>
                        </li>

                    {% endif %}
                {% endfor %}

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %} {# quand utilisateur non connecté on affiche les boutons de connexion et d'inscription #}
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_login') }}">Se connecter</a>
                    </li>

                    {% else %}  {# quand utilisateur connecté on cache les boutons de connexion et d'inscription et on affiche le nom d'utilisateur #}

                    <div class="dropdown">
                        <a class="nav nav-link text-dark dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.username|capitalize }}  {# profil utilisateur avec le filtre majuscule #}
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{ path('app_profile', { username: app.user.username }) }}"> Mon profil </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"> Déconnexion </a>
                            </li>
                        </ul>
                    </div>

                {% endif %}

                </ul>

            </header>
        </div>


        {% block body %}{% endblock %}


        <div class="d-flex align-items-center flex-column border-top border-dark border-opacity-50" style="height: 100px">

                <footer class="container-fluid col-12 d-flex flex-wrap justify-content-between align-items-end h-100">
                    <div class="col-md-4 align-items-center">
                        <span class="copyright">
                            © {{ 'now'|date('Y') }} Antho. Tous droits réservés
                        </span>
                    </div>

                </footer>
                
        </div>

    </body>

    
</html>
