{% set article_show = path('article_show', {'slug': article.slug}) %}

<article class="mb-5 bg-white" style="--bs-bg-opacity: .3;">

    <div class="row">
        <div class="col-md-{{leftCol ?? 5}}">

            {% if article.featuredImage %}  {# s'il y a une image on l'affiche dans la colonne de gauche #}

                <a href="{{ path('article_show', {'slug': article.slug }) }}">
                    <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="350" height="205">
                </a>

            {% endif %}
            
        </div>

        <div class="col-md-{{rightCol ?? 7}}"> {# on affiche l'article dans la colonne de droite #}

            <h2>
                <a class="text-decoration-none" href="{{article_show}}">
                    {{ article.title }}
                </a>
            </h2>
        
            <p> {{ article.createdAt|date('d M Y') }} </p>

                {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}

        </div>
    </div>

</article>